<h1>Hello, Guys!</h1>

<p>Welcome to APP Test:</p>


<form [formGroup]="formGroup">

  <div class="form-horizontal">
    <div class="input-group input-group-lg">
      <input formControlName="url" class="form-control" placeholder="Paste the URL to be shorten..." />
      <input formControlName="code" class="form-control" placeholder="Shortcode" />
      <span class="input-group-btn">
        <button class="btn btn-primary" (click)="onSubmit()">Shorten URL</button>
      </span>
    </div>
    <div class="input-group input-group-lg" *ngIf="codeResult!=''">
      {{codeResult}}
    </div>
    <div class="input-group input-group-lg" *ngIf="myError!=''">
      {{myError}}
    </div>
  </div>

    <br /><br />
    <div class="form-horizontal">
      <div class="input-group input-group-lg">
        <input formControlName="code" class="form-control" placeholder="Paste the Code to navegate..." />
        <span class="input-group-btn">
          <button class="btn btn-primary" (click)="getUrl()">Navigate URL</button>
        </span>
      </div>
    </div>
</form>
